body
        {
            background-image: url("Landing Page.jpg");
            background-color: gray; 
            background-position: center;

        }

h1
        {
            color: yellow;

        }
.navbar-brand
        {
            font-family: 'Long Cang', cursive;
            font-size: 2em;

        }
.container
        {           
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;          
        }